
{{!-- <div>
      <a href="/add" class="btn btn-dark" style="float: right;">ADD STORY <i class="fa fa-plus" aria-hidden="true"></i>

</div> --}}
<div class="fixed-action-btn">
    <a href="/add" class="btn-floating btn-large waves-effect waves-light blue" style="margin: 0px 50px 500px 0px ;">
    <i class="fa fa-plus" aria-hidden="true"></i></a>
</div>