

<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">WriterBook</a>
         <a href="/newsfeed" style="float: right;" ><i class="fa fa-book mr-1" aria-hidden="true"></i>Public Stories</a>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/newsfeed">Public Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>