<div class="container" style="height: 325px;">
<h4>About :</h4>
<p>Version 1.0.0</p>
<p>WriterBook is an app to share your life Stories</p>
<p>When it comes to writing apps, less can be more. The fewer options there are on screen, the more you can concentrate on your writing. 
    At least, that's the theory embraced by WriterBook. WriterBook isn't the only distraction-free writing app, but it is one of the simplest.
    It is Free, either. 
    Some may find, however, that it's so light that it doesn't include the necessary tools for building a substantial project from your writing,
     such as a book or a screenplay.
     You won't find a library or file folder view, nor is there space to keep notes on scenes or characters.
    WriterBook is, therefore, best for one-off pieces of writing.
     It's a good writing app. </p>
   


</div>
<div class="container"> 
  <h4>About Me :</h4>
  <h5>Aaron Rebello</h5>
  <p style="font-size: 20px;">Is the designer of this website.</p>
  <div class="icons">
  <div class="social"><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>

  <div class="social"><a href="https://github.com/AaronRebello"><i class="fa fa-github " aria-hidden="true" style="color: black;"></i></a></div>

  <div class="social"><a href="https://www.linkedin.com/in/aaron-rebello-104467183/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>

  <div class="social"><a href="https://www.instagram.com/rebello_aaron_75_/"><i class="fa fa-instagram" aria-hidden="true" style="color: brown;"></i></a></div>
</div>

  </div>