<h1 class="display-1 div1">Welcome</h1>
<h5>Welcome to WriterBook 1.0.0</h5>
<p>Post stories from the best and worst of your life expirience and chose for them to be read by world or completely
    private as your own personal diary</p>

<a class="btn" href="/auth/google" role="button" style="background-color: red;"> <i class="fa fa-google mr-2"
        aria-hidden="true"></i>Login with Google</a>