

body{overflow-x: hidden;
    background-color: honeydew;
 
}



/* ************************************************navbar ****************/


    .navbar{height: 80px;}


    /************************ add_btns**************************** */

    .btn1{color: tomato;}

    /*********************** loginpage******************************** */

    .div1{
        margin-top: 125px;
    }
    
    


/* *************************************Newsfeed/index****************************************/


.font1{
    font-family: 'Galada', cursive;
    /* font-family: 'Handlee', cursive; */
 color:#2F91C6 ;
}

.div3{border: 1px solid black;
width: 130px;
background-color:lightgreen;
border-radius: 40px;
margin-top: 15px;
margin-bottom: 15px;
}
.div3:hover{background-color: black;
color: lightgreen;}

.title1{font-family: 'Fondamento', cursive;
}




/******************************* show*********************************************************************** */

.col1{margin-top: 90px;}

/* *********************************dashboard**************************************************** */


/* ***************************************edit*************************************************** */

/****************************** about************************ */

.social{
height: 90px;
width: 90px;
border-radius: 50px;
display: table-cell;
}


.social a i{margin-left: 30px;
font-size: 28px;
margin-top: 25px;
}

.icons {display: table;
display: inline-block;
}

/**************************** footer********************************************************* */

.page-footer{margin-top: 67px;}

.log:hover{
    color: red !important;
    transition: 0.2s;
}
.link:hover{
    color: blue !important;
    transition: 0.6s;
}